body{
  background: #FFF1F1;
  color:#e75480;
  text-align: center;
  font-family: Verdana;
}
label{
  font-size: 1.1rem;
  font-weight: bold;
}
legend{
  color: #022E57;
  font-size: 1.3rem;
  font-weight: bold;
}

input{
  background: #FFF1F1;
  color:#022E57;
  font-size: 1.3rem;
  font-weight: bold;
  border:4px solid #022E57;
  outline: none;
  border-radius:10px;
  margin: 20px;
  margin-top: 5px;
  padding: 8px;
  width: 200px;
  transition: 200ms;
}
::placeholder{
  opacity: 0.6;
  color: #e75480;
}
#bttn{
  height: 125px;
  margin-right: 500px;
}
.inpts{
  float: left;
  margin-left: 600px;
  margin-right: 0;
}
input[type="submit"],input[type="button"]{
  border-radius: 240px;
  width: 150px;
  height: 60px;
  padding: 5px;
  color: #e75480;
  transition: 200ms;
}
input[type="submit"]:hover,input[type="button"]:hover , #tsub:hover{
  transform: scale(1.1);
  background: #e75480;
  color: #FFF1F1;
}
h1{

  text-shadow: -2px 0 #e75480, 0 2px #e75480, 2px 0 #e75480, 0 -2px #e75480;
  color: #022E57;
  font-size: 4rem;
}
h2{
  text-shadow: -1.5px 0 #822659, 0 1.5px #822659, 1.5px 0 #822659, 0 -1.5px #822659;
  color: #e75480;
  font-size: 2.5rem;
  clear: both;
}
input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus{
  transform: scaleX(1.1);
  transform-origin: right;
}
tr{

  border:none;
}
th{
  border:none;
}
.container{
  transition: 500ms;
}
.container.clicked{
  transform: translateX(-400px);
}

.webp{
  position: absolute;
  right: 200px;
  top: 100px;
  transform: scale(0);
  transition: 500ms;
}
.webp.clicked{
transform: scale(1);
}
iframe{
  width: 600px;
  height: 600px;
}
